@font-face {
  font-family: robotoBold;
  src: url(Roboto-Bold.ttf);
}

header nav ul {
  font-family: robotoBold;
}

label {
	display: inline-block;
	text-align: right;
	padding: 3px;
	width: 22%;
	vertical-align: top;
	margin-top: 10px;
}

h1, .main-title{
	margin-top: 50px;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 60px;
	font-weight: bold;
	color: black;
}


#principal{
	width: 90%;
	max-width: 500px;
	border-style: solid;
	border-radius: 7px;
	border-color: #C0C0C0;
	align-content: center;
}

.secret-answer{
	width: auto;
} 
  
.rightTab {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
	padding: 2px;
	margin-top: 5px;
	resize:vertical;
}


.ml-auto{
	align-items: center;
	justify-content: center;
}

.new-game{
	display: flex;
	align-items: center;
	justify-content: center;
}

.titulo {
	font-size: 0.85em;
}

.vl {
    border-left: 2px solid white;
    height: 3em;
}

.resultados {
	border-radius: 1em;
	background-color: rgba(200, 200, 200);
	padding: 1em;
}

.scroll {
	overflow-y: auto;
	overflow-x: none;
	height: 5em;
}

.btn-midnight {
	background-color: #4682B4;
	color: white;
}

.btn-midnight:hover {
	background-color: #6495ED;
}

.linkhome{
	font-size: 0.8em;
}
