.ml-auto{
	align-items: center;
	justify-content: center;
	margin-top: 100px;
}
header{
	position: absolute;
}

h1{
	margin-top: 50px;
	text-align: center;
}

.container-fluid{
	background-color: white;
	border-radius: 5px;
	border-color: white;
}

.new-game{
	display: flex;
	align-items: center;
	justify-content: center;
}

.titulo {
	font-size: 0.85em;
}

.vl {
    border-left: 2px solid white;
    height: 3em;
}

.gerenciador-processos {
	border-radius: 1em;
	background-color: rgba(200, 200, 200);
	padding: 1em;
}

.resultados {
	border-radius: 1em;
	background-color: rgba(200, 200, 200);
	padding: 1em;
	height: 25vw;
}

.scroll {
	overflow-y: auto;
	overflow-x: none;
	height: 5em;
}

table, th, td {
	font-size: 0.9em;
	text-align: center;
	border: 1.5px solid #696969;
}

.btn-midnight {
	background-color: #4682B4;
	color: white;
}

.btn-midnight:hover {
	background-color: #6495ED;
}

.linkhome{
	font-size: 0.8em;
}

