<!doctype html>

<html>
	<head>
		<meta charset="utf-8">
		<meta name="view-port" content="width=width-device, initial-scale=1.0, shrink-to-fit=no">
		<title>Bolão</title>

		<link rel="stylesheet" type="text/css" href="./estilo.css">

		<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet"> 
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	</head>

	<body style="background-color: #f0f0f0;">
		<header>
			User01
		</header>
		<h1 class='main-title'>Bolão</h1>
		<div class='new-game'>
				<form style="text-align: center;" action="./newBolao.html">
					<Button> Criar novo bolão</Button>
				</form>
			<Button> Meus bolões</Button>
		</div>
		<div class="row mt-3">
			<div class="col-8 offset-2">
				<div class="resultados shadow">
                    <h6 class="text-center">Bolão 1</h6>
                    <button>Criar jogo</button>
					<ul class="list-group">
                        <li class="list-group-item" href='./bolao'>Bolão 1</li>
                        <li class="list-group-item">Campeonato: Copa do Mundo</li>
                        <li class="list-group-item">Esporte: Futebol</li>
                        <li class="list-group-item">Apostadores: </li>
                        <li class="list-group-item">Jogos: </li>
					</ul>
				</div>
			</div>
		</div>
	</body>

</html>
