header {
	position: absolute;
	margin-left: 30px;
}

label {
	display: inline-block;
	text-align: right;
	padding: 3px;
	width: 22%;
	vertical-align: top;
	margin-top: 10px;
}

h1, .main-title{
	margin-top: 50px;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 60px;
	font-weight: bold;
	color: black;
}

table, th, td {
	font-size: 0.9em;
	text-align: center;
	border: 1.5px solid #696969;
}

.secret-answer{
	width: auto;
} 
  
.rightTab {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
	padding: 3px;
	margin-top: 5px;
	resize:vertical;
}

.btn{
	margin-top: 10px;
	margin-bottom: 10px;
}

.ml-auto{
	align-items: center;
	justify-content: center;
}

.container-fluid{
	background-color: white;
	border-radius: 5px;
	border-color: white;
	margin: auto;
	width: 90%;
	max-width: 500px;
}

.new-game{
	display: flex;
	align-items: center;
	justify-content: center;
}

.titulo {
	font-size: 0.85em;
}

.vl {
    border-left: 2px solid white;
    height: 3em;
}

.gerenciador-processos {
	border-radius: 1em;
	background-color: rgba(200, 200, 200);
	padding: 1em;
}

.resultados {
	border-radius: 1em;
	background-color: rgba(200, 200, 200);
	padding: 1em;
}

.scroll {
	overflow-y: auto;
	overflow-x: none;
	height: 5em;
}

.btn-midnight {
	background-color: #4682B4;
	color: white;
}

.btn-midnight:hover {
	background-color: #6495ED;
}

.linkhome{
	font-size: 0.8em;
}