<!doctype html>

<html>

<head>
	<meta charset="utf-8">
	<meta name="view-port" content="width=width-device, initial-scale=1.0, shrink-to-fit=no">
	<title>Bolão</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="./estilo.css">
</head>

<body style="background-color: #f0f0f0;">
	<h1>Bolão</h1>
	<div class="container-fluid">
		<form class="ml-auto" style="text-align: center;" action="./homepage.html">
			<div class="form-group">
				<label for="cpf">CPF:</label>
				<div class='rightTab'>
					<input type="cpf" id="cpf">
				</div>
				<br>
				<label for="senha">Senha:</label>
				<div class='rightTab'>
					<input type="senha" id="senha">	
				</div>
				<div class="linkhome"><a href="./newUser.html">Ainda não possuo cadastro</a></div>
				<div class="linkhome"><a href="./forgotPassword.html">Esqueci minha senha</a></div>
			</div>
			<button type="login" class="btn btn-primary" href='bolao.html'>Login</button>
		</form>

	</div>
</body>

</html>